<!DOCTYPE html>
<html>
  <head>
    <style>
            dt {
        font-weight: bold;
      }

      dd {
        margin: 1em 0;
      }

      ul.other-users > li {
        list-style-type: none;
        display: inline;
      }

      ul.other-users {
        padding-left: 0;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
