<form action="/create" method="post">
  <dl>
    <dt>
      <label for="file_name">Add a new document:</label>
    </dt>
    <dd>
      <input id="file_name" name="file_name" type="text">
    </dd>
  </dl>
  <button type="submit">Create</button>
</form>
