body {
  font-family: sans-serif;
  padding: 1em;
}

.message {
  background-color:  #FFFF99;
  padding: 10px;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

dl, form.delete {
  display: inline-block;
}
