body {
  font-family: 'Franklin Gothic Heavy', 'Helvetica Black', Helvetica, Arial, sans-serif;
  font-size: 28px;
}

article {
  border: 2px solid black;
  width: 646px;
  padding: 10px 15px;
}

article * {
  margin: 0 0 2px 0;
  padding-bottom: 1px;
}

h1 {
  font-size: 3.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

dd, dt {
  display: inline;
}

dd {
  margin: 1px;
}

tr.indent td:first-of-type {
  text-indent: 1.5rem;
}

table:first-of-type {
  border-top: 30px solid black;
  border-bottom: 15px solid black;
}

table:first-of-type th {
  border-bottom: 1px solid black;
  padding: 10px 0;
  text-align: left;
}

table:first-of-type dl {
  padding: 4px 0;
}

table:first-of-type dt {
  font-weight: bold;
}

table:first-of-type td:nth-child(2) {
  text-align: right;
}

table:nth-of-type(2) th {
  padding: 10px 0 2px 0;
  border-bottom: 1px solid black;
}

table:nth-of-type(2) td {
  border-top: 1px solid black;
}

table:nth-of-type(2) thead, table:nth-of-type(2) tr:nth-child(-n+9) td:nth-child(2) {
  font-weight: bold;
  text-align: right;
}

table:nth-of-type(2) td:nth-child(2) {
  text-align: right;
}

table:nth-of-type(2) tr:not(.indent) dt {
  font-weight: bold;
}

table:nth-of-type(2) tr:nth-of-type(9) {
  border-bottom: 20px solid black;
}

tfoot td {
  font-size: 1.6rem;
  text-indent: -1rem;
  padding: 20px 0px 20px 18px;
}

table:last-of-type {
  font-size: 1.4rem;
}

table:last-of-type td:first-child {
  width: 35%;
  padding: 0 0 3px 0;
}

table:last-of-type td:not(:first-child) {
  width: 20%;
}

table:last-of-type tr:first-of-type {
  border-bottom: 1px solid black;
}

table:last-of-type tr:first-of-type td:first-child {
  text-indent: 15rem;
}
