html {
  font-family: 'Franklin Gothic Heavy', 'Helvetica Black', Helvetica, Arial, sans-serif;
  font-size: 28px;
}

* {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

article {
  box-sizing: border-box;
  border: 2px solid black;
  width: 680px;
  padding: 10px 15px 15px 15px;
  margin: 8px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  border-top: 30px solid black;
  margin-top: 5px;
  padding: 10px 0;
}

header dl {
  display: inline-block;
  width: 50%;
  border-top: 1px solid black;
  border-bottom: 15px solid black;
  padding: 5px 0;
}

header dl:first-of-type dt {
  font-weight: bold;
}

header dl + dl {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

dd, dt {
  display: inline;
}

header + table thead th {
  text-align: right;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

sup {
  vertical-align: 3px;
}

header + table th[colspan="2"] {
  text-align: left;
}

header + table th[colspan="2"] dd {
  font-weight: normal;
}

header + table td.indent {
  width: 1rem;
}


header + table tr + tr {
  border-top: 1px solid black;
}

header + table td.indent {
  border-top: 1px solid white;
}

tbody th,
tbody td {
  padding: 2px 0;
}

header + table tbody td:last-of-type {
  text-align: right;
}

header + table tbody:first-of-type td:last-of-type {
  font-weight: bold;
}

header + table tbody:last-of-type {
  border-top: 20px solid black;
}

tfoot td {
  font-size: .9rem;
  text-indent: -.7rem;
  padding: 15px 0 15px 20px;
  border-top: 1px solid black;
}

table + table {
  font-size: .8rem;
  text-align: left;
}

table + table th {
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

table + table th + th {
  width: 21%;
}

table + table td.indent {
  width: 1.2rem;
}
